In [1]:
datos = factor(c("H","M","M","M","H","H","M","M"))
table(datos)

datos
H M
3 5

In [2]:
sum(table(datos))

[1] 8

In [6]:
prop.table(table(datos))

datos
    H     M
0.375 0.625

# Frecuencias con datos cuantitativos discretos

In [18]:
edad =c(11,14,15,56,42,29,29,25,25,23,29,40,30,32,32,33)

In [1]:
set.seed(162017)
dados = sample(1:6,25, replace = TRUE)

dados

 [1] 1 1 5 5 5 5 1 6 5 4 1 3 1 3 2 2 1 1 1 4 2 1 6 3 1

In [2]:
set.seed(NULL)

In [3]:
table(dados) # Frecuencia absoluta

dados
 1  2  3  4  5  6
10  3  3  2  5  2

In [4]:
round(prop.table(table(dados)), 2) #Frecuencia relativa

dados
   1    2    3    4    5    6
0.40 0.12 0.12 0.08 0.20 0.08

In [5]:
cumsum(table(dados)) #Frecuencia acumulada

 1  2  3  4  5  6
10 13 16 18 23 25

In [7]:
round(cumsum(prop.table(table(dados))), 2) #Frecuencia relativa acumulada

   1    2    3    4    5    6
0.40 0.52 0.64 0.72 0.92 1.00

# Crear un dataframe con la tabla de frecuencias

In [13]:
dados.df = data.frame(Puntuacion = 1:6,
                      Fr.abs = as.vector(table(dados)),
                      Fr.rel = as.vector(round(prop.table(table(dados)),2)),
                      Fr.acu = as.vector(cumsum(table(dados))),
                      Fr.racu = as.vector(round(cumsum(prop.table(table(dados))),2)))

In [14]:
dados.df

  Puntuacion Fr.abs Fr.rel Fr.acu Fr.racu
1 1          10     0.40   10     0.40
2 2           3     0.12   13     0.52
3 3           3     0.12   16     0.64
4 4           2     0.08   18     0.72
5 5           5     0.20   23     0.92
6 6           2     0.08   25     1.00

# Medidas de tendencia central

In [16]:
sort(edad)

 [1] 11 14 15 23 25 25 29 29 30 32 32 33 40 42 56

In [19]:
table(edad)

edad
11 14 15 23 25 29 30 32 33 40 42 56
 1  1  1  1  2  3  1  2  1  1  1  1

In [20]:
mean(edad)

[1] 29.0625

In [21]:
mean(dados)

[1] 2.8

In [22]:
median(edad)

[1] 29

In [24]:
as.numeric(names(which(table(edad)==max(table(edad))))) #la moda

[1] 29

# Medias

In [26]:
x = c(32,45,67,43,28,17,48,95)
n = length(x)

## Media aritmética

$$\bar{x} = \frac{1}{n}\sum_{i=1}^n x_i$$

In [29]:
sum(x)/n

[1] 46.875

## Media ponderada

$$\bar{x}_w=\frac{\sum_{i=1}^nw_i\cdot x_i}{\sum_{i=1}^n w_i}$$

In [31]:
w = c(1,2,2,3,3,2,2,1)
sum(w*x)/sum(w)

[1] 43.375

## Media geométrica

$$\bar{x}_g = \left(\prod_{i=1}^n x_i\right)^{1/n}$$

In [33]:
prod(x)^(1/n)

[1] 41.62073

## Media armónica

$$\bar{x}_A = \frac{n}{\sum_{i=1}^{n}\frac{1}{x_i}}$$

In [37]:
n/sum(1/x)

[1] 36.77301

# Cuantiles

In [41]:
set.seed(260798)
dado = sample(1:4, 50, replace = TRUE)
set.seed(NULL)
length(dado)

[1] 50

In [43]:
dado = sort(dado)
dado

 [1] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 4 4
[39] 4 4 4 4 4 4 4 4 4 4 4 4

In [45]:
df.dado = data.frame(Puntuacion = 1:4,
                      Fr.abs = as.vector(table(dado)),
                      Fr.rel = as.vector(round(prop.table(table(dado)),2)),
                      Fr.acu = as.vector(cumsum(table(dado))),
                      Fr.racu = as.vector(round(cumsum(prop.table(table(dado))),2)))
df.dado

  Puntuacion Fr.abs Fr.rel Fr.acu Fr.racu
1 1          16     0.32   16     0.32
2 2          15     0.30   31     0.62
3 3           5     0.10   36     0.72
4 4          14     0.28   50     1.00

In [46]:
quantile(dados,0.25)

25%
  1

In [47]:
quantile(dados,0.8)

80%
  5